body {
  background-color:lightskyblue;
}

#header {
  text-align: center;
  background-color:#444;
  color: white;
  padding: 10px;
}

#info {
  font-family: Arial, Helvetica, sans-serif;
  float: right;
  width: 800px;
  height: 300px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  color: black; 
}

#info:hover{
  background-color: #444;
  color:white;
}

#city {
  margin-top: 40px;
  margin-left: 5px;
}

.touch:hover{
  background-color: lightgoldenrodyellow;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 5px;
}

ul li {
  list-style-type: none;
  border: 1px solid #ddd;
  margin-top: -1px;
  background-color: #f6f6f6;
  padding: 12px;
}
input {
  margin-top: 5px;
  margin-left: 5px;
  padding: 6px;
  font-size: 15px;
  float: left;
  width: 80%;
  background: #f1f1f1;
  clear: left;
  border: none;
  border-radius: 20px;

}
button {
  border-radius: 5px;
  margin-top: 5px;
  width: 40px;
  padding: 5px;
  background: blue;
  color: white;
  font-size: 17px;
  border: 2px solid #2196f3;
  cursor: pointer;
  clear: right;

}
#search {
  content: "";
  clear: both;
  display: table;
}
#week{
    margin-top: 5px;
    /* float:right;  */ 
}

p:hover{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

h4{
  margin-left: 5px;
}
.card{
  background-color: blue;
  color: white;
}

.green{
  background-color: greenyellow;
}
.red{
  background-color: red;
  width:100px;
}
.orange{
  background-color: orange;
}
.yellow{
  background-color: yellow;
  color:black
}
.card-text{
  font-size: 14px;
}
img{
  height: 60px;
  width: 60px;
}

.card{
  width:160px;
  
}
.touch{
  cursor: pointer;
}

.instructions {
  font-size: 30px;
  padding: 10px;
  margin: 5px;
 
}
